<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="My Grocy">
    <link rel="apple-touch-icon" href="/images/my_grocy_icon.png">

    <meta name="csrf-token" content={get_csrf_token()} />

<!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 5 Dashboard Template" />
    <meta name="author" content="ThemePixels" />

<!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicon.png" />

    <.live_title default="MyGrocy" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>

<!-- DashForge CSS -->
    <link rel="stylesheet" href="/theme/css/dashforge.css" />
    <link rel="stylesheet" href="/theme/css/dashforge.dashboard.css" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="page-profile">
    {@inner_content}

    <script src="/theme/lib/jquery/jquery.min.js">
    </script>
    <script src="/theme/lib/bootstrap/js/bootstrap.bundle.min.js">
    </script>
    <script src="/theme/lib/feather-icons/feather.min.js">
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
    </script>
    <script src="/theme/lib/perfect-scrollbar/perfect-scrollbar.min.js">
    </script>

    <%!-- <script src="/theme/js/dashforge.js">
    </script> --%>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

<!-- append theme customizer -->
  </body>
</html>
